{% extends 'account/base_account.html' %}

{% block content_account %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>分类</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for video_info in video_infos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ video_info.video_title }}</td>
            <td>{{ video_info.video_type.title }}</td>
            <td>
                <a class="btn btn-link btn-xs" href="{% url 'edit_video_info' %}?video_info_id={{ video_info.id }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>  
                <button class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>  
            </td>
        </tr>
    {% empty %}
        没有资源
    {% endfor %}
    </tbody>
</table>
{% endblock%}