{% extends 'video/base_video.html' %}

{% block title %}播放列表{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="media">
                <div class="media-left" style="width: 30%">
                        <img class="media-object" src="{{video.video_img.url}}" style="width:100%">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{video.video_title}}</h4>
                    <p><hr></p>
                    <p>{{video.video_detail}}</p>
                </div>
            </div>       
    </div>
    <div class="row" style="padding-top: 20px">
        {% for item in video.video_set.all%}
        <div class="col-xs-6 col-md-2" style="margin-bottom: 10px">
        <div class="btn-group" style="width: 100%">           
            <a class="btn btn-primary" href="{% url 'play_video' %}?video_id={{item.id}}" style="width: 100%">{{item.name}}</a>            
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}