{% extends 'video/base_video.html' %}

{% block title %}播放列表{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-5">
            <img src="{{ video.video_img.url }}" width="100%">
        </div>
        <div class="col-xs-7">
            <h4>{{ video.video_title }}</h4>
            <hr>
            <p>
                {{ video.video_detail }}
            </p>
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        {% for item in video.video_set.all%}
        <div class="col-xs-6 col-md-2" style="margin-bottom: 10px">
        <div class="btn-group" style="width: 100%">           
            <a class="btn btn-primary" href="{% url 'play_video' %}?video_id={{item.id}}" style="width: 100%">{{item.name}}</a>            
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}