{% extends 'video/base_video.html' %}

{% block title %}分类列表{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        {% for video in list_video%}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="{% url 'list_video' %}?video_info_id={{video.id}}"><img src="{{video.video_img.url}}"></a>
                <div class="caption">
                    <h5>{{video.video_title}}</h5>
                </div>    
            </div>
        </div>
        {% endfor %}
</div>
</div>
{% endblock%}