{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}测试页面{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">
    <style>
        #file {
            position: absolute;
            left: 0;
            top:0;
            opacity: 0;
        }
        #image {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
<form action="{% url 'test' %}" method="POST" class="form-horizontal" id="form" enctype="multipart/form-data">
    {% csrf_token %}   
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label">{{ form.title.label }}</label>
        <div class="col-sm-10">
          {{ form.title }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.content.id_for_label }}" class="col-sm-2 control-label">{{ form.content.label }}</label>
        <div class="col-sm-10">
          {{ form.content }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                上传图片
            </button>
        </label>
        <div class="col-sm-10">
            <img id="img_croppered">
        </div>
    </div>
    <!-- <input type="file" name="image"> -->
    <!-- <input type="submit" value="xxx"> -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" value="提交" class="btn btn-primary" id="submit">
        </div>    
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">图片上传</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="file" class="btn btn-primary">
                        <input type="file" id="file">
                        选择上传图片
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </label>
                </div>
                <div>
                    <img id="image"> 
                </div>
                <div class="small" style="height:100px;overflow: hidden;"></div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="upload" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'cropper/cropper.min.js' %}"></script>
    <script src="{% static 'csrf.js' %}"></script>
    <!-- 点击按钮触发模态框 -->
    <script>
        var file_cropperd = ''
        $('#myModal').on('show.bs.modal' , function(){
            $('#image').cropper({
                aspectRatio: 16 / 9,
                viewMode: 1,
                preview:".small",
                dragMode: 'move',
                modal: false,
                cropBoxResizable:false,
            })
        }).on('hidden.bs.modal', function (){
            $('#image').cropper('destroy');
            var file = document.getElementById('file');
            file.value = '';
            var objUrl = getObjectURL(file_cropperd) ;//获取文件信息  
            if (objUrl) {  
                $('#img_croppered').attr('src' , objUrl) 
            }  
        });

        $('#upload').click(function(){
            var cas=$('#image').cropper('getCroppedCanvas');
            cas.toBlob(function(e){
                file_cropperd = e;
            } , "image/jpeg" , 0.95)
        });

        $('#submit').click(function(){
            var f = document.getElementById('form');
            var formdata = new FormData(f)
            formdata.append('image',file_cropperd)
            $.ajax({
                url:"{% url 'test' %}",
                method:"POST",
                processData: false,
                contentType: false,
                data:formdata,
                success:function(data){
                    if(data == '1'){
                        window.location.href = "{% url 'result' %}"
                    }
                    else{
                        alert("error")
                    }
                }
            })
        })

        $("#file").change(function(){  
         var objUrl = getObjectURL(this.files[0]) ;//获取文件信息  
          if (objUrl) {  
                $('#image').cropper('replace' , objUrl , false) 
            }
        });

        function getObjectURL(file) {  
         var url = null;   
         if (window.createObjectURL!=undefined) {  
          url = window.createObjectURL(file) ;  
         } else if (window.URL!=undefined) { // mozilla(firefox)  
          url = window.URL.createObjectURL(file) ;  
         } else if (window.webkitURL!=undefined) { // webkit or chrome  
          url = window.webkitURL.createObjectURL(file) ;  
         }  
         return url ;  
        }  
    </script>
    
{% endblock %}