{% extends 'base_index.html' %}
{% block index_body %}
<div class="container">
    <div class="row">
        {% for video in list_video%}
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <a href="{% url 'play_video' %}?video_id={{video.video_set.first.id}}"><img src="{{video.video_img.url}}"></a>
                <div class="caption">
                    <h5>{{video.video_title}}</h5>
                </div>    
            </div>
        </div>
        {% endfor %}
</div>
</div>
{% endblock %}